<h2 class="title" {{action 'toggleBody' on="click"}}>{{ this.title }}</h2>
{{#if isShowingBody}}
    <p>{{ this.body }}</p>
{{/if}}
<p>
    <strong>Authors: </strong>
    {{#each this.authors as |author|}}
        {{ author }},
    {{/each}}
</p>
<h4>Comments</h4>
<ul>
{{#each this.comments as |comment|}}
    <li>{{comment.comment}} by <em>{{comment.name}}</em></li>
{{/each}}  
</ul>
<button id="sayHelloBtn" {{action 'sayHello' on="click"}}>Say Hello World</button>